.wraper {
    min-height: 100vh;
    display: grid;
    justify-items: center;
    margin-bottom: 5em;
}

.container {
    display: grid;
    justify-items: center;
    text-align: center;
    width: 80%;
    max-width: 400px;
    margin-top: 8em;
}

h1 {
    font-weight: var(--fw-light);
    color: black;

    margin-bottom: .75em;
}

h1 span {
    display: block;   
    font-weight: var(--fw-regular);
}

.title {
    margin-bottom: 6em;
}

.title p {
    font-size: .875rem;
}

.card-container {
    display: grid;
    gap: 2em;
}

@media (min-width: 800px) {
    body {
        font-size: .9375rem;
    }

    .container {
        max-width: 1200px;
        width: 90%;
        margin-top: 4em;
    }

    .title {
        max-width: 500px;
        margin-bottom: 4em;
    }

    .card-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}