.wraper {
    min-height: 100vh;
    display: grid;
    justify-items: center;
}

.container {
    display: grid;
    justify-items: center;
    text-align: center;
}

h1 {
    font-weight: var(--fw-light);
    color: black;

    margin-bottom: .75em;
}

h1 span {
    display: block;   
    font-weight: var(--fw-regular);
}

.title p {
    font-size: .875rem;
}

@media (max-width: 800px) {
    body {
        font-size: .6876rem;
    }

    .container {
        width: 80%;
        max-width: 400px;
        margin-top: 8em;
    }
}

@media (min-width: 801px) {
    .container {
        max-width: 1200px;
        margin-top: 4em;
    }

    .title {
        max-width: 500px;
    }
}